<!DOCTYPE html>
<html lang="ko">
<head>
    ${require('./include/head.html')}
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
</head>
<body>
${require('./include/bodyStart.html')}

<header>
    ${require('./include/header.html')}
</header>

<section>
  <!--<img src="/assets/images/test.png"/>-->
  <img src="$require('../public/assets/images/test.png').placeholder"/>

  메인 화면
</section>

<footer>
    ${require('./include/footer.html')}
</footer>

${require('./include/bodyEnd.html')}
</body>
</html>
